

.classesList {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;

}

.classesList td {
    border: 2px solid black;
    text-align: center;
    padding: 20px;    
}

.classesList a:hover {
    color: black;
    opacity: 0.5;

}

.classesList h3{
    padding: 10px;
    margin-left: 0%;
    font-family: 'Lucida Console';
}

