* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root{
    position: relative;
    min-height: 100vh;
    padding-bottom: 75px;
}

.header {
    background-color:  aquamarine;
    position: relative;
    height: 100px;
}

.footer {
    background-color: aquamarine;
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
