p {
    background-color: black;
    font-family: Arial;
    color: red;
    font-size: 50;

}

h1 {
    font-family: 'Franklin Gothic Medium';
    color: blue;
    background-color: orange;
    font-size: 100;
}